extend ../template
block FORM
    h2 New Party
    p= data
    p.text-success#success
    p.text-danger#error
    form(action="Party/Add", method="post")
        .form-group
            label.control-label Party Name
            input.form-control.guj(required='' type='text' name='p_name')
        .form-group
            label.control-label Pending Amount
            input.form-control.guj(required='' type='text' name='p_amount')
        .row
            .col-md-3
                button#saveButton.btn.btn-primary Save
            .col-md-3
                button#saveButton.btn.btn-primary Show
            .col-md-3
                button#saveButton.btn.btn-primary Update
            .col-md-3
                button#saveButton.btn.btn-primary(type='reset') Cancel
block VIEW
    table.table.table-bordered.table-striped(style='width: 100%')
        thead
            th Name
            th Pending Amount
            th Edit
            th Delete
        tbody#tbody
            if data
                each val in data
                    tr
                        td.guj data.row.p_name
                        td.guj data.row.p_pending_amount
                        td
                            button.btn.btn-primary(onclick="partyEdit("+data.row.p_id+")") Edit
                        td
                            button.btn.btn-secondary(onclick="partyDelete("+data.row.p_id+")") Delete
block SCRIPT
    script.
        $(document).ready(()=>{
            $('form').on('submit',function(e){
                e.preventDefault();
                const data = $(this).serialize()
                const url = $(this).attr('action');
                const method = $(this).attr('method')
                $.ajax({
                    type:method,
                    url,
                    data,
                    success:function(data){
                        if(data.success){
                            $('#success').html(data.msg)
                            let str;
                            data.data.forEach((val)=>{
                                str+='<tr>'+
                                    '<td class=guj>'+ val.row.p_name +'</td>'+
                                    '<td class=guj>'+val.row.p_pending_amount+'</td>'+
                                    '<td><button class="btn btn-primary" onClick=partyEdit('+val.row.p_id+')>Edit</button>'+
                                    '<td><button class="btn btn-secondary" onClick=partyDelete('+val.row.p_id+')>Edit</button>'+
                                    '</tr>';
                            })
                            $("#tbody").append(str);
                        }else{
                            $("#error").html(data.msg)
                        }
                    }
                })
            })
        })